<p class="text-title h72 m0 bm8 layout-row layout-align-start-center">
    Reference toolbar control
</p>

<p class="text-subhead2 h48 m0 bm8 layout-row layout-align-start-center">
    Example
</p>

<img src="http://i.imgur.com/Rgum4V2.png" class="bm24">

<md-toolbar class="pip-ref-toolbar md-hue-1 bm24">
    <img class="pip-pic" src="images/ES_Goals.svg">

    <div class="pip-content">
        <p class="pip-title">Pip.Life - beta</p>

        <p class="pip-subtitle">Goal</p>

        <div class="pip-action">
            <md-button class="md-raised md-primary md-hue-1" ng-click="">Action 1</md-button>
            <md-button class="md-raised md-primary md-hue-1" ng-click="">Ation 2</md-button>
        </div>
    </div>
</md-toolbar>

<md-toolbar class="pip-ref-toolbar md-hue-1 bm24">
    <img class="pip-pic" src="images/ES_Goals.svg">

    <div class="pip-content">
        <p class="pip-title">Efficiently target long-term high-impact resources after distinctive e-services.</p>

        <p class="pip-subtitle">Goal</p>

        <div class="pip-action">
            <md-button class="md-raised md-primary md-hue-1" ng-click="">Action 1</md-button>
            <md-button class="md-raised md-primary md-hue-1" ng-click="">Action 2</md-button>
        </div>
    </div>
</md-toolbar>

<md-toolbar class="pip-ref-toolbar md-hue-1 bm24">
    <img class="pip-pic" src="images/ES_Goals.svg">

    <div class="pip-content">
        <p class="pip-title">Pip.Life - beta</p>

        <p class="pip-subtitle">Goal</p>

    </div>
</md-toolbar>

<md-toolbar class="pip-ref-toolbar md-hue-1 bm24">
    <img class="pip-pic" src="images/ES_Goals.svg">

    <div class="pip-content">
        <p class="pip-title">Pip.Life - beta</p>

    </div>
</md-toolbar>
